
* {
    box-sizing: border-box;
}

.character {
    background-color: rgb(95, 95, 95);
    height: 200px;
    width: 200px;
    border: solid black 2px;
    float:left;
}

body {
    background: url(../images/background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

p {
    text-align: center;
    margin:0px;
    padding:0px;
}

img {
    display: block;
    margin:auto;
}
/* COLORS BASED ON WHAT STAGING ZONE CHARACTER IS IN */
.hero {
    background-color: green;
}
.staging {
    background-color: gray;
}
.enemy {
    background-color: red;
}

/* <div id="choice-area"></div>
<div id="staging-zone"></div>
<div id="current-enemy">letter</div> */

#choice-area {
    border: 10px green solid;
    width: 100%;
    /* float:left; */
}
#staging-zone {
    border: 10px gray solid;
    width: 100%;
    /* float:left; */
}
#current-enemy {
    border: 10px red solid;
    width: 100%;
    /* float:left; */
}
#current-enemy::after, #staging-zone::after, #choice-area::after {
    content: "";
    clear: both;
    display: table;
}
.button {
    background-color: red;
    border: solid black 2px;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}



